 @import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);

body{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
  width: 100%;
  overflow-x: hidden;
}
.headersec{
	position: relative;
	overflow-x: hidden;
	z-index: 100;
	clip-path: ellipse(150vh 150vh at 50% -93vh);
	width: 100%;
	height: 68vh;
  transform: scale(1.6);
	margin-top: -70px;
}
.swiper-container {
    width: 100%;
    height: 60vh;
    background: ;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1000;
}
.swiper-container #slider_img {
  background-position: center;
  background-size: cover; 
  background-repeat: no-repeat;
}

.headersec main{
	width: 100%;
	height: 80%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
	display: flex;
  transform: scale(0.7);
	justify-content: center;
	align-items: center;
	overflow: hidden;
	flex-flow: column;
	margin-top: 10px;
	margin-left: 10px;
}
header{
  background: transparent;
  position: relative;
  z-index: 1000;
}
/*.headersec{
	position: relative;
	width: 100%;
	height: 50vh;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	flex-flow: column;
}*/
/*header:before{
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 55vh;
	background: url(img/back1.jpg), #7abcff;
	background-position: center;
	background-size: cover; 
	background-repeat: no-repeat;
	border-radius: 0 0 50% 50%/0 0 100% 100%;
	transform: scale(1.5);

}*/
.headersec .header-content{
	position: relative;
	z-index: 1;
	margin: 0 auto;
	margin-top: 120px;
	max-width: 100%;
	text-align: center;
}
.headersec .header-content a{
	text-decoration: none;
}


.headersec .search_2 .search_btn1{
  padding: 10px 0px 10px 25px;
  background: rgba(255,255,255,0.4);
  color: #fff;
  text-decoration: none;
  border-radius: 5px 0px 0px 5px;
}
.headersec .search_2 .search_btn1 input{
  padding: auto 5px auto 5px;
  border: none;
  outline: none;
  background: transparent;
  color: #fff;
  width: 12rem;
}
.headersec .search_2 .search_btn1 input::placeholder {
  color: #fff;
  opacity: 1;
}
.headersec .search_2 .search_input{
  padding: 6.5px 15px;
  color: #000;
  border: none;
  outline: none;
  width: 35rem;
}
.headersec .search_2 .search_btn2{
  width: 5rem;
  padding: 7px 15px;
  color: #fff;
  border-radius: 0px 5px 5px 0px;
  border: none;
  outline: none;
  background: #ff6348;
  margin-left: -5px;
}
 .location ul {
  position: absolute;
  list-style-type: none;
  top: 34.5%;
  left: 19.7%;
  z-index: 20000;
  margin: 0;
  padding: 0;
  width: 15rem;
  border-radius: 5px;
  background-color: rgba(255,255,255,0.8);
}

.location ul li{
  padding: 10px auto;
  text-align: center;
  cursor: pointer;
}
.location ul li:hover{
  background: rgba(0,0,0,0.5);
  color: #fff;
}

 .service ul {
  position: absolute;
  list-style-type: none;
  top: 34.5%;
  left:38%;
  z-index: 20000;
  margin: 0;
  padding: 0;
  width: 15rem;
  border-radius: 5px;
  background-color: rgba(255,255,255,0.8);
}

.service ul li{
  padding: 10px auto;
  color: #000;
  text-align: center;
  cursor: pointer;
}
.service ul li:hover{
  background: rgba(0,0,0,0.5);
  color: #fff;
}
/*
 .location li a {
  text-align: center;
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

 .location li a:hover {
  background-color: rgba(0,0,0,0.5);
  color: white;
  color: #fff;
}*/


@media only screen and (max-width: 768px){
  .swiper-container {
    outline: none;
}
  .headersec .header-content{
  margin-top: 70px;
  margin-bottom: 40px;
}
.headersec .header-content h2{
  margin-bottom: 50px;
}
  .headersec .search_2 .search_btn1{
  padding: 13.2px 15px;
  background: rgba(255,255,255,1);
  color: rgba(0,0,0,0.8);
}
.headersec .search_2 .search_btn1 input{
  width: 4rem;
}
.headersec .search_2 .search_btn1 input::placeholder {
  color: #000;
  opacity: 0.5;
}
.headersec .search_2 .search_input{
  padding: 10px 15px;
  color: #000;
  border: none;
  outline: none;
  width: 12rem;
  border-radius: 0px 0px 0px 0px;
}
.headersec .search_2 .search_btn2{
  padding: 12px 20px;
  color: #fff;
  border-radius:0px 5px 5px 0px;
}
.service{
  margin-top: -40px;
}
}



.service .single_service{
	border-right: 1px solid #000;
}
.service i{
	font-size: 40px;
}
.service .last_single_service{
	border-right: none;
}

.service a{
	text-decoration: none;
	color: #000;
}
.third .content{
	display: flex;
	justify-content: center;

	flex-flow: column;
}

.third, .fourth{
	background: #D7D7D7;
	padding-bottom: 70px;
}
.fourth .single_project{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border-radius: 10px;
	transition: .4s;
}
.fourth .single_project:hover{
	transform: scale(1.04);
}
.fourth .single_project:hover  i{
	opacity: 0.8;
}
.fourth .single_project i{
	background: #efefef;
	padding: 10px 8px;
	border-radius: 50%;
	transition: 0.4s;
}
.fourth .single_project a{
	text-decoration: none;
}
.fifth{
	background: #D7D7D7;
	padding-bottom: 20px;
}
.fifth figure img{
	width: 100px;
	height: 100px;
	border-radius: 50%;

}
/*.fifth .img_background{
	background: url(img/back.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}*/
.form_section{
	background: #DCE8FC;
}
.form_section iframe{
	width: 100%;
	height: 100%;
}
.form_section figure{
	width: 100%;
	height: 100%;
}

footer{
	background: #1D3157;
	color: #fff;
}
footer ul{
	display: flex;
	justify-content: center;
	align-items: center;
	list-style: none;
	font-size: 25px;
}
footer ul li a{
	text-decoration: none;
	color: #fff;

}
footer ul li a i{

	background: red;
	border-radius: 50%;
}
footer .footer_icon_box{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column;
}
footer .footer_icon_box a{
	text-decoration: none;
}
footer .footer_icon_box i{
	font-size: 40px;
	padding: 20px 22px;
	background: #387DFF;
	color: #fff;
	border-radius: 50%;
	border: 3px solid #387DFF;
	transition: 0.4s;
}
footer .footer_icon_box:hover i{
	background: transparent;
	border: 3px solid #fff;
}




/*111111111111111111111111111111111111111111111111111111111111111111111111111111111111111*/


 @import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);

.side_nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

.side_nav li a {
  display: block;
  padding: 8px 16px;
  text-decoration: none;
  border-radius: 2px;
  color: #000;

}

.side_nav li a.active {
  background-color: #000;
  color: white;
}

.side_nav li a:hover:not(.active) {
  background-color: #555;
  color: white;
}
.side_nav ul li a:hover{
  color: #fff;
}

.checked {
  color: orange;
}




/*footer*/

footer{
  background: #1D3157;
  color: #fff;
}
footer ul{
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  font-size: 25px;
}
footer ul li a{
  text-decoration: none;
  color: #fff;

}
footer ul li a i{

  background: red;
  border-radius: 50%;
}
footer .footer_icon_box{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}
footer .footer_icon_box a{
  text-decoration: none;
}
footer .footer_icon_box i{
  font-size: 40px;
  padding: 20px 22px;
  background: #387DFF;
  color: #fff;
  border-radius: 50%;
  border: 3px solid #387DFF;
  transition: 0.4s;
}
footer .footer_icon_box:hover i{
  background: transparent;
  border: 3px solid #fff;
}



/*single service css*/


:root {
  --input-padding-x: 1.5rem;
  --input-padding-y: .75rem;
}

body {
  
  
}

.card-signin {
  border: 0;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

.card-signin .card-title {
  margin-bottom: 2rem;
  font-weight: 300;
  font-size: 1.5rem;
}

.card-signin .card-body {
  padding: 2rem;
}

.form-signin {
  width: 100%;
}

.form-signin .btn {
  font-size: 80%;
  border-radius: 5rem;
  letter-spacing: .1rem;
  font-weight: bold;
  padding: 1rem;
  transition: all 0.2s;
}

.form-label-group {
  position: relative;
  margin-bottom: 1rem;
}

.form-label-group input {
  height: auto;
  border-radius: 2rem;
}

.form-label-group>input,
.form-label-group>label {
  padding: var(--input-padding-y) var(--input-padding-x);
}

.form-label-group>label {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  margin-bottom: 0;
  /* Override default `<label>` margin */
  line-height: 1.5;
  color: #495057;
  border: 1px solid transparent;
  border-radius: .25rem;
  transition: all .1s ease-in-out;
}

.form-label-group input::-webkit-input-placeholder {
  color: transparent;
}

.form-label-group input:-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-moz-placeholder {
  color: transparent;
}

.form-label-group input::placeholder {
  color: transparent;
}

.form-label-group input:not(:placeholder-shown) {
  padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
  padding-bottom: calc(var(--input-padding-y) / 3);
}

.form-label-group input:not(:placeholder-shown)~label {
  padding-top: calc(var(--input-padding-y) / 3);
  padding-bottom: calc(var(--input-padding-y) / 3);
  font-size: 12px;
  color: #777;
}

.btn-google {
  color: white;
  background-color: #ea4335;
}

.btn-facebook {
  color: white;
  background-color: #3b5998;
}



footer{
  background: #1D3157;
  color: #fff;
}
footer ul{
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  font-size: 25px;
}
footer ul li a{
  text-decoration: none;
  color: #fff;

}
footer ul li a i{

  background: red;
  border-radius: 50%;
}
footer .footer_icon_box{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}
footer .footer_icon_box a{
  text-decoration: none;
}
footer .footer_icon_box i{
  font-size: 40px;
  padding: 20px 22px;
  background: #387DFF;
  color: #fff;
  border-radius: 50%;
  border: 3px solid #387DFF;
  transition: 0.4s;
}
footer .footer_icon_box:hover i{
  background: transparent;
  border: 3px solid #fff;
}



.shop_header{
  display: flex;
  justify-content: space-between;

}








.product-card {
    width: 100%;
    position: relative;
    box-shadow: 0 2px 7px #dfdfdf;
    margin: 30px auto;
    background: #fafafa;
}

.badge {
    position: absolute;
    left: 0;
    top: 20px;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    background: red;
    color: #fff;
    padding: 3px 10px;
}

.product-tumb {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    padding: 50px;
    background: #f0f0f0;
}

.product-tumb img {
    max-width: 100%;
    max-height: 100%;
}

.product-details {
    padding: 30px;
}

.product-catagory {
    display: block;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ccc;
    margin-bottom: 18px;
}

.product-details h4 a {
    font-weight: 500;
    display: block;
    margin-bottom: 18px;
    text-transform: uppercase;
    color: #363636;
    text-decoration: none;
    transition: 0.3s;
}

.product-details h4 a:hover {
    color: #fbb72c;
}

.product-details p {
    font-size: 15px;
    line-height: 22px;
    margin-bottom: 18px;
    color: #999;
}

.product-bottom-details {
    overflow: hidden;
    border-top: 1px solid #eee;
    padding-top: 20px;
}

.product-bottom-details div {
    float: left;
    width: 50%;
}

.product-price {
    font-size: 16px;
    color: #fbb72c;
    font-weight: 600;
}

.product-price small {
    font-size: 80%;
    font-weight: 400;
    text-decoration: line-through;
    display: inline-block;
    margin-right: 5px;
}

.product-links {
    text-align: right;
}

.product-links a {
    display: inline-block;
    margin-left: 5px;
    color: #e1e1e1;
    transition: 0.3s;
    font-size: 17px;
}

.product-links a:hover {
    color: #fbb72c;
}

.wishlist_btn{
  padding: 10px 20px;
  border: 2px solid #000;
  color: #000;
  text-decoration: none;
  transition: 0.4s;
  border-radius: 5px;
}
.wishlist_btn:hover{
  background: #000;
  color: #fff;
}


.rating{
  margin-bottom: 30px;
}

.rating .rating-box {
  color:#000;
  margin-bottom: 2rem;
  height: 3rem;
  width: 100%;
}

.rating .rating-star{
  font-size: 3rem;
  width: 3rem;
  height: 3rem;
  padding: 0 2rem;
  position: relative;
  display: block;
  float:left;
}

.rating .full-star:before {
  color: #f2b01e;
  content: "\2605";
  position: absolute;
  left: 0;
  overflow: hidden;
}

.rating .empty-star:before {
  content: "\2605";
  position: absolute;
  left: 0;
  overflow: hidden;
}

.rating .half-star:before {
  color: #f2b01e;
  content: "\2605";
  width: 50%;
  position: absolute;
  left: 0;
  overflow: hidden;
}

.rating .half-star:after {
  content: '\2605';
  position: absolute;
  left: 1.5rem;
  width: 50%;
  text-indent: -1.5rem;
  overflow: hidden;
}



/*wishlist*/

.cart-btn{
  position: relative;
  top: 0;
  right: 0;
}

.wishlist-item-div .center{
  display: flex;

  align-items: center;
}

/*cart*/

.product-details-div span{
  font-weight: 500;
}

/*single service css*/
/* profile page css */
.content-profile-page {
  margin: 1em auto;
  width: 40%;
}

@media only screen and (max-width: 600px) {
  .content-profile-page {
  margin: 1em auto;
  width: 90%;
}
body{
  overflow-x: hidden;
  width: 100%;
}
.headersec{
  transform: scale(1);
}

.headersec main{
  transform: scale(1);
}

}

.card {
  background: #fff;
  border-radius: 0.3rem;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  border: .1em solid rgba(0, 0, 0, 0.2);
  margin-bottom: 1em; 
}

.profile-user-page .img-user-profile {
  margin: 0 auto;
  text-align: center; 
}
.profile-user-page .img-user-profile .profile-bgHome {
  border-bottom: .2em solid #f5f5f5;
  width: 44.23em;
  height: 16em;
  }
.profile-user-page .img-user-profile .avatar {
  margin: 0 auto;
  background: #fff;
  width: 7em;
  height: 7em;
  padding: 0.25em;
  border-radius: .4em;
  margin-top: -10em;
  box-shadow: 0 0 .1em rgba(0, 0, 0, 0.35);
}
.profile-user-page button {
  position: absolute;
  font-size: 13px;
  font-weight: bold;
  cursor: pointer;
  width: 7em; 
  background: #3498db;
  border: 1px solid #2487c9;
  color: #fff;
  outline: none;
  border-radius: 0 .6em .6em 0;
  padding: .80em;
}

.profile-user-page button:hover {
  background: #51a7e0;
  transition: background .2s ease-in-out;
  border: 1px solid #2487c9;
}
.profile-user-page .user-profile-data, .profile-user-page .description-profile {
  text-align: center;
  padding: 0 1.5em; 
}
.profile-user-page .user-profile-data h1 {
  font-family: "Lato", sans-serif;
  margin-top: 0.35em;
  color: #292f33;
  margin-bottom: 0; 
}
.profile-user-page .user-profile-data p {
  font-family: "Lato", sans-serif;
  color: #8899a6; 
  font-size: 1.1em;
  margin-top: 0;
  margin-bottom: 0.5em; 
}
.profile-user-page .description-profile {
  color: #75787b;
  font-size: 0.98em; 
}
.profile-user-page .data-user {
  font-family: "Quicksand", sans-serif;
  margin-bottom: 0;
  cursor: pointer;
  padding: 0;
  list-style: none;
  display: table;
  width: 100.15%; 
}
.profile-user-page .data-user li {
  margin: 0;
  padding: 0;
  width: 33.33334%;
  display: table-cell;
  text-align: center;
  border-left: 0.1em solid transparent; 
}
.profile-user-page .data-user li:first-child {
  border-left: 0; 
}
.profile-user-page .data-user li:first-child a {
  border-bottom-left-radius: 0.3rem; 
  }
.profile-user-page .data-user li:last-child a {
  border-bottom-right-radius: 0.3rem; 
}
.profile-user-page .data-user li a, .profile-user-page .data-user li strong {
  display: block; 
}
.profile-user-page .data-user li a {
  background-color: #f7f7f7;
  border-top: 1px solid rgba(242,242,242,0.5);
  border-bottom: .2em solid #f7f7f7;
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.4),0 1px 1px rgba(255,255,255,0.4);
  padding: .93em 0;
  color: #46494c; 
}
.profile-user-page .data-user li a strong, .profile-user-page .data-user li a span {
  font-weight: 600;
  line-height: 1; 
}
.profile-user-page .data-user li a strong {
  font-size: 2em; 
}
.profile-user-page .data-user li a span {
  color: #717a7e; 
}
.profile-user-page .data-user li a:hover {
  background: rgba(0, 0, 0, 0.05);
  border-bottom: .2em solid #3498db;
  color: #3498db; 
}
.profile-user-page .data-user li a:hover span {
  color: #3498db; 
}

/* blog list css */
/*
*/

 .blog_list_sec .container .post {
   width: 100%;
   height: 500px;
   display: flex;
   overflow: hidden;
   flex-direction: column;
   position: relative;
}
 .blog_list_sec .container .post:hover .header_post {
   margin-top: -20px;
}
 .blog_list_sec .container .post:hover .body_post {
   height: 50%;
}
 .blog_list_sec .container .post:hover img {
   transform: translatey(-10px) translatex(-5px) scale(1.05);
}
 .blog_list_sec .container .post .header_post {
   width: 100%;
   height: 40%;
   background: #ddd;
   position: absolute;
   top: 0;
   -webkit-transition: cubic-bezier(0.68, -0.55, 0.27, 1.55) 320ms;
   -moz-transition: cubic-bezier(0.68, -0.55, 0.27, 1.55) 320ms;
   -ms-transition: cubic-bezier(0.68, -0.55, 0.27, 1.55) 320ms;
   -o-transition: cubic-bezier(0.68, -0.55, 0.27, 1.55) 320ms;
   transition: cubic-bezier(0.68, -0.55, 0.27, 1.55) 320ms;
}
 .blog_list_sec .container .post .header_post img {
   max-width: 100%;
   height: auto;
   transition: ease-in-out 600ms;
}
 .blog_list_sec .container .post .body_post {
   width: 100%;
   height: 60%;
   background: #fff;
   position: absolute;
   bottom: 0;
   display: flex;
   justify-content: center;
   align-items: center;
   -webkit-transition: cubic-bezier(0.68, -0.55, 0.27, 1.55) 320ms;
   -moz-transition: cubic-bezier(0.68, -0.55, 0.27, 1.55) 320ms;
   -ms-transition: cubic-bezier(0.68, -0.55, 0.27, 1.55) 320ms;
   -o-transition: cubic-bezier(0.68, -0.55, 0.27, 1.55) 320ms;
   transition: cubic-bezier(0.68, -0.55, 0.27, 1.55) 320ms;
   cursor: pointer;
}
 .blog_list_sec .container .post .body_post .post_content {
   width: 80%;
   height: 80%;
   background: #fff;
   position: relative;
}
 .blog_list_sec .container .post .body_post .post_content h1 a{
   text-decoration: none;
}
 .blog_list_sec .container .post .body_post .post_content h1 {
   font-size: 20px;
   font-weight: bold;
}
 .blog_list_sec .container .post .body_post .post_content p {
   font-size: 14px;
   font-weight: normal;
}
 .blog_list_sec .container .post .body_post .post_content .container_infos {
   width: 100%;
   display: flex;
   justify-content: space-between;
   position: absolute;
   bottom: 0;
   border-top: 1px solid rgba(0, 0, 0, .2);
   padding-top: 25px;
}
 .blog_list_sec .container .post .body_post .post_content .container_infos .postedBy {
   display: flex;
   flex-direction: column;
   text-transform: uppercase;
   letter-spacing: 1px;
   font-size: 12px;
}
 .blog_list_sec .container .post .body_post .post_content .container_infos .postedBy span {
   font-size: 12px;
   text-transform: uppercase;
   opacity: 0.5;
   letter-spacing: 1px;
   font-weight: bold;
}
 .blog_list_sec .container .post .body_post .post_content .container_infos .container_tags {
   display: flex;
   flex-direction: column;
}
 .blog_list_sec .container .post .body_post .post_content .container_infos .container_tags span {
   font-size: 12px;
   text-transform: uppercase;
   opacity: 0.5;
   letter-spacing: 1px;
   font-weight: bold;
}
 .blog_list_sec .container .post .body_post .post_content .container_infos .container_tags .tags ul {
   display: flex;
}
 .blog_list_sec .container .post .body_post .post_content .container_infos .container_tags .tags ul li {
   font-size: 12px;
   letter-spacing: 2px;
   list-style: none;
   margin-left: 8px;
   text-transform: uppercase;
   position: relative;
   z-index: 1;
   display: flex;
   justify-content: center;
   cursor: pointer;
}
 .blog_list_sec .container .post .body_post .post_content .container_infos .container_tags .tags ul li:first-child {
   margin-left: 0px;
}
 .blog_list_sec .container .post .body_post .post_content .container_infos .container_tags .tags ul li:before {
   content: '';
   text-align: center;
   width: 100%;
   height: 5px;
   background: #fc6042;
   opacity: 0.5;
   position: absolute;
   bottom: 0;
   z-index: -1;
   padding: 0px 1px;
   -webkit-transition: cubic-bezier(0.68, -0.55, 0.27, 1.55) 320ms;
   -moz-transition: cubic-bezier(0.68, -0.55, 0.27, 1.55) 320ms;
   -ms-transition: cubic-bezier(0.68, -0.55, 0.27, 1.55) 320ms;
   -o-transition: cubic-bezier(0.68, -0.55, 0.27, 1.55) 320ms;
   transition: cubic-bezier(0.68, -0.55, 0.27, 1.55) 320ms;
}
 .blog_list_sec .container .post .body_post .post_content .container_infos .container_tags .tags ul li:hover:before {
   height: 18px;
}
 .blog_list_sec footer {
   width: 350px;
   height: 80px;
   background: #17a16f;
   position: absolute;
   right: 0;
   bottom: -80px;
   display: flex;
   justify-content: center;
   align-items: center;
   animation: top 0.8s forwards;
}
 .blog_list_sec footer span {
   display: flex;
   align-items: center;
   justify-content: center;
   font-size: 12px;
   color: #fff;
   font-family: 'Poppins';
}
 .blog_list_sec footer span i {
   margin-right: 25px;
   font-size: 22px;
   color: #fff;
   animation: icon 2s forwards;
   opacity: 0;
}
 @keyframes top {
   0% {
     opacity: 0;
     bottom: -80px;
  }
   100% {
     opacity: 1;
     bottom: 0px;
  }
}
 @keyframes icon {
   0% {
     opacity: 0;
     transform: scale(0);
  }
   50% {
     opacity: 1;
     transform: scale(1.3) rotate(-2deg);
  }
   100% {
     opacity: 1;
     bottom: 0px;
  }
}

/*blog single*/
.blog_main_section{
  width: 100%;
  overflow: hidden;
}

.blog_main_section .header_blog{
  background-color:#0984e3;
  padding: 70px 110px;
  box-shadow: 1px 6px 10px rgba(0,0,0,0.3);
}
.blog_main_section .container h2{
   font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
  font-size: 2.5rem;
  text-align: center;
  font-weight: 600;
  text-transform: uppercase;
  text-rendering: optimizeLegibility;
   color: #fff;
  letter-spacing: .15em;
  text-shadow: 1px 5px 5px rgba(0,0,0,0.5);
  position: relative;
  transition: 1s;
  opacity: 0;
  transform: translateX(-300px);
}
.blog_main_section .container h2[data-scroll="in"]{
  opacity: 1;
/*  transition-delay: 0.3s;*/
  transform: translateY(0px);
}
.blog_main_section .container a{
  text-decoration: none;
  color: #fff;

}
.header_blog span{
  position: relative;
  transition: 1s;
  opacity: 0;
  transform: translateX(3000px);
}
.header_blog span[data-scroll="in"]{
  opacity: 1;
  transform: translateX(0px);
}
.blog_main_section .header_blog{
  margin-bottom: 20px;
}
.blog_main_section .body{
  margin: auto 70px;
}

.blog_main_section img{
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.blog_main_section .blog_img{
  display: flex;
  justify-content: center;
  align-items: center;
}

.blog_main_section .blog_img:before{
  content: "";
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.1);
  display: none;
  transition: 0.4s;
  }
  .blog_main_section .blog_img:hover::before{
    display: block;
  }
  .blog_main_section .body p{
  color: rgba(0,0,0,0.4);
}
.blog_main_section .body .date{
  padding: 5px 15px;
  border-radius: 4px;
  background: #0984e3;
  position: relative;
  width:120px;
  font-weight: 500;
  color: #fff;
}
.blog_main_section .blog_body p{
  color: rgba(0,0,0,0.8);
}
.blog_main_section .body{
}
.blog_main_section .author a, .blog_main_section .tags a{
  text-decoration: none;
  color: #1D3157;
  font-size: 1rem;
  transition: 0.4s;
  font-weight: 600;
}
.blog_main_section .author a:hover, .blog_main_section .tags a:hover{
  color: #ff7675;
}
.blog_main_section .blog_foot ul li a{
  color: #1D3157;
  font-weight: 600;
  text-decoration: none;
  font-size: 1.2rem;
  transition: 0.4s;
}
.blog_main_section .blog_foot ul li a:hover{
  color: #ff7675;
}
.blog_main_section .blog_foot ul{
  list-style: none;
}
.blog_main_section .body .sidebar h3{
  font-size: 1.2rem;
  color: #fff;
  background: #0984e3;
  padding: 10px 30px;
  border-radius: 5px;
}
.blog_main_section .body .sidebar a{
  text-decoration: none;
  
  transition: 0.4s;
  font-size: 1.1rem;
}
.blog_main_section .body .sidebar a i{
  margin-right: 15px;
}
.blog_main_section .body .sidebar .ul_anim{
  list-style-type: none;
  margin: 6px;
  transition: .3s all ease;
  padding: 5px;
  text-align: center;
}
.blog_main_section .body .sidebar .posts .ul_anim li a{
  text-decoration: none;
  color: #000;
}
.blog_main_section .body .sidebar .posts .ul_anim li{
  transition: 0.4s;
  width: 100%;
  margin-bottom: 15px;
  padding-top: 8px;
  font-weight: 500;
  padding-bottom: 8px;
  border-radius: 5px;
  box-shadow: 0.5px 0px 2px rgba(0,0,0,0.2);
  transition: 0.4s;
  background: rgba(0,0,0,0.03);
  position: relative;
  opacity: 0;
  transition: 0.3s;
  transition-delay: 0.2s;
  transform: translateX(300px);
}
.blog_main_section .body .sidebar .posts .ul_anim li[data-scroll="in"]{
  opacity: 1;
  transform: translateX(0px);
}
.blog_main_section .body .sidebar .ul_anim li i{
  color: #000;
}
.blog_main_section .body .sidebar .ul_anim li:hover {
  background: rgba(0, 0, 0,0.7);
  color: #fff;
}
.blog_main_section .body .sidebar .ul_anim li:hover a{
  color: #fff;
}
.blog_main_section .body .sidebar .ul_anim li:hover i{
  color: #fff;
}
@media only screen and (max-width: 600px) {
  .blog_main_section .body{
  margin: auto 0px;
}.blog_main_section .blog_img{
  width: 100%;
  height: 40vh;
}.blog_main_section .header_blog{
  padding: 70px 10px;
}
}

#loader {
  z-index: 1;
  width: 110px;
  height: 110px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #0984e3;
  border-right: 16px solid #74b9ff;
  border-bottom: 16px solid #dfe6e9;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(-360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(-360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}

.blog_main_section .blog_img #imgDiv {
  display: none;
}